@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cascadia Code";
  src: url("/fonts/CascadiaCode.ttf") format("truetype");
}

main {
  -webkit-tap-highlight-color: transparent;
  font-family: "Cabin", sans-serif;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #e2e60075, 0 0 10px #e2e60075, 0 0 10px #e2e60075,
      0 0 5px #e2e60075, 0 0 10px #e2e60075, 0 0 5px #e2e60075,
      0 0 10px #e2e60075;
  }

  to {
    text-shadow: 0 0 5px #fff, 0 0 30px #e6e200, 0 0 5px #e2e60075,
      0 0 10px #e2e60075, 0 0 5px #e2e60075, 0 0 10px #e2e60075,
      0 0 5px #e2e60075;
  }
}
